Repository jeffrizkallah/ToolKit-FifityFifty, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fiftyfifty-team/core-team, @fiftyfifty-team/frontend, @fiftyfifty-team/design, @fiftyfifty-team/backend, @fiftyfifty-team/i18n, @fiftyfifty-team/devops, @fiftyfifty-team/tech-lead, @fiftyfifty-team/product, @fiftyfifty-team/architects, @fiftyfifty-team/qa

.github/CODEOWNERS:

# =============================================================================
# FIFTYFIFTY TOOLKIT - CODE OWNERS
# =============================================================================
#
# This file defines code ownership for automated review assignments.
# Learn more: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# Format: path/pattern @github-username @github-team
# The last matching pattern takes precedence.
#
# =============================================================================

# -----------------------------------------------------------------------------
# Default Owners (fallback for all files)
# -----------------------------------------------------------------------------
# These users/teams will be requested for review if no other rule matches
*                           @fiftyfifty-team/core-team

# -----------------------------------------------------------------------------
# Frontend Code
# -----------------------------------------------------------------------------
# Next.js app code, components, and UI
/app/**                     @fiftyfifty-team/frontend
/components/**              @fiftyfifty-team/frontend
/styles/**                  @fiftyfifty-team/frontend
/public/**                  @fiftyfifty-team/frontend

# shadcn/ui components (requires design review)
/components/ui/**           @fiftyfifty-team/frontend @fiftyfifty-team/design

# -----------------------------------------------------------------------------
# Backend & API
# -----------------------------------------------------------------------------
/app/api/**                 @fiftyfifty-team/backend

# -----------------------------------------------------------------------------
# Libraries & Utilities
# -----------------------------------------------------------------------------
/lib/**                     @fiftyfifty-team/backend @fiftyfifty-team/frontend

# CMS integration
/lib/cms/**                 @fiftyfifty-team/backend

# -----------------------------------------------------------------------------
# Internationalization
# -----------------------------------------------------------------------------
/messages/**                @fiftyfifty-team/i18n
/i18n.ts                    @fiftyfifty-team/i18n
/middleware.ts              @fiftyfifty-team/backend @fiftyfifty-team/i18n

# -----------------------------------------------------------------------------
# Configuration Files
# -----------------------------------------------------------------------------
# Critical config files require senior review
/package.json               @fiftyfifty-team/core-team
/package-lock.json          @fiftyfifty-team/core-team
/tsconfig.json              @fiftyfifty-team/core-team
/next.config.mjs            @fiftyfifty-team/core-team
/tailwind.config.ts         @fiftyfifty-team/frontend @fiftyfifty-team/design
/postcss.config.mjs         @fiftyfifty-team/frontend
/components.json            @fiftyfifty-team/frontend

# -----------------------------------------------------------------------------
# DevOps & Infrastructure
# -----------------------------------------------------------------------------
/.github/**                 @fiftyfifty-team/devops
/.github/workflows/**       @fiftyfifty-team/devops
/vercel.json                @fiftyfifty-team/devops
/.gitignore                 @fiftyfifty-team/devops

# Environment variables (critical security)
/env.example                @fiftyfifty-team/devops @fiftyfifty-team/core-team

# -----------------------------------------------------------------------------
# Documentation
# -----------------------------------------------------------------------------
/docs/**                    @fiftyfifty-team/tech-lead
/README.md                  @fiftyfifty-team/tech-lead
/BRANCHING_STRATEGY.md      @fiftyfifty-team/tech-lead

# User stories and epics
/docs/stories/**            @fiftyfifty-team/product @fiftyfifty-team/tech-lead
/docs/epics/**              @fiftyfifty-team/product @fiftyfifty-team/tech-lead

# Architecture documentation (requires architect review)
/docs/architecture/**       @fiftyfifty-team/architects @fiftyfifty-team/tech-lead

# -----------------------------------------------------------------------------
# Testing & QA
# -----------------------------------------------------------------------------
/tests/**                   @fiftyfifty-team/qa
/e2e/**                     @fiftyfifty-team/qa
/cypress/**                 @fiftyfifty-team/qa
/playwright/**              @fiftyfifty-team/qa

# -----------------------------------------------------------------------------
# Design System
# -----------------------------------------------------------------------------
/styles/design-tokens.md    @fiftyfifty-team/design @fiftyfifty-team/frontend

# =============================================================================
# Team Structure Reference
# =============================================================================
#
# @fiftyfifty-team/core-team       - Core team members (all senior developers)
# @fiftyfifty-team/frontend        - Frontend developers
# @fiftyfifty-team/backend         - Backend developers
# @fiftyfifty-team/design          - UI/UX designers
# @fiftyfifty-team/devops          - DevOps engineers
# @fiftyfifty-team/qa              - QA engineers
# @fiftyfifty-team/i18n            - Internationalization specialists
# @fiftyfifty-team/product         - Product owners
# @fiftyfifty-team/tech-lead       - Technical leads
# @fiftyfifty-team/architects      - Solution architects
#
# =============================================================================
# Notes for Maintainers
# =============================================================================
#
# - Teams should be created in GitHub organization settings
# - Individual users can be added using @username syntax
# - Glob patterns are supported (*, **, ?)
# - More specific patterns override general ones
# - Review this file when team structure changes
#
# =============================================================================

Fix: Remove @next/bundle-analyzer dependency to resolve Vercel build error
  next.config.mjs
Owners: @fiftyfifty-team/core-team

fix(build): add baseUrl to tsconfig for alias resolution on Vercel
  tsconfig.json
Owners: @fiftyfifty-team/core-team

fix(build): add webpack aliases for @ paths to fix module resolution on Vercel
  next.config.mjs
Owners: @fiftyfifty-team/core-team

fix(build): move tailwind-merge and clsx to dependencies for production build
  package.json
Owners: @fiftyfifty-team/core-team

fix(build): move tailwindcss, postcss, autoprefixer, rtl/logical plugins to dependencies
  package.json
Owners: @fiftyfifty-team/core-team

feat(cms): add fetchPhases helper and export for resources page
  lib/cms-client.ts
Owners: @fiftyfifty-team/backend, @fiftyfifty-team/frontend

fix(build): include typescript and @types/node in dependencies for Vercel type-check step
  package.json
Owners: @fiftyfifty-team/core-team

fix: remove unused import in 404 page; ci: ignore ESLint during Vercel builds
  app/[locale]/not-found.tsx
  next.config.mjs
Owners: @fiftyfifty-team/frontend, @fiftyfifty-team/core-team

fix(ts): remove unused 'locale' constant in 404 page to satisfy type-check
  app/[locale]/not-found.tsx
Owners: @fiftyfifty-team/frontend

fix(ts): remove unused getPhaseBySlug import in module page
  app/[locale]/phase/[slug]/module/[moduleSlug]/page.tsx
Owners: @fiftyfifty-team/frontend

fix: remove unused getMediaUrl import from module page
  app/[locale]/phase/[slug]/module/[moduleSlug]/page.tsx
Owners: @fiftyfifty-team/frontend

chore: remove unused imports (Button, Module) in module page to fix Vercel type build
  app/[locale]/phase/[slug]/module/[moduleSlug]/page.tsx
Owners: @fiftyfifty-team/frontend

chore: remove unused useTranslations import from privacy page to fix type build
  app/[locale]/privacy/page.tsx
Owners: @fiftyfifty-team/frontend

Fix: Resolve all TypeScript and build errors for deployment
  DEPLOYMENT_FIXES.md
  app/[locale]/resources/ResourceLibraryClient.tsx
  components/CookieConsent.tsx
  components/Footer.tsx
  components/GoogleAnalytics.tsx
  components/ProgressIndicator.tsx
  components/ResourceLibrary.tsx
  lib/hooks/useResourceLibrary.ts
  lib/hooks/useSearch.ts
  tsconfig.json
Owners: @fiftyfifty-team/core-team, @fiftyfifty-team/frontend, @fiftyfifty-team/backend

fix: resolve all ESLint errors blocking Vercel deployment
  app/[locale]/phase/[slug]/module/[moduleSlug]/page.tsx
  app/sitemap.ts
  components/ResourceLibrary.tsx
  lib/contexts/__tests__/ProgressContext.test.tsx
Owners: @fiftyfifty-team/frontend, @fiftyfifty-team/backend

fix: add error handling for CMS fetch failures during build
  app/[locale]/phase/[slug]/module/[moduleSlug]/page.tsx
  app/[locale]/phase/[slug]/page.tsx
Owners: @fiftyfifty-team/frontend

fix: enable offline CMS mode for Vercel deployment to prevent build failures
  .env.production
  app/[locale]/page.tsx
  app/[locale]/phase/[slug]/module/[moduleSlug]/page.tsx
  app/[locale]/phase/[slug]/page.tsx
  app/[locale]/resources/page.tsx
  app/sitemap.ts
Owners: @fiftyfifty-team/core-team, @fiftyfifty-team/frontend

chore: update package-lock.json after npm install
  package-lock.json
Owners: @fiftyfifty-team/core-team

feat: Complete campaign-focused website transformation
  app/[locale]/page.tsx
  components/Footer.tsx
  components/HeroSection.tsx
  components/PhaseCard.tsx
  components/TestimonialsSlider.tsx
  components/Timeline.tsx
  components/ui/header.tsx
  strapi-cms/sample-data/phases.json
  strapi-cms/sample-data/settings.json
Owners: @fiftyfifty-team/frontend, @fiftyfifty-team/design, @fiftyfifty-team/core-team

fix: resolve Vercel deployment configuration issues
  .npmrc
  DEPLOYMENT_FIXES.md
  next.config.mjs
  package.json
  vercel.json
Owners: @fiftyfifty-team/core-team, @fiftyfifty-team/devops

fix: resolve Node.js version conflict and remove Strapi dependency
  .node-version
  .npmrc
  DEPLOYMENT_FIXES.md
  package.json
Owners: @fiftyfifty-team/core-team

fix: ensure vercel build succeeds
  app/[locale]/layout.tsx
  package-lock.json
  tsconfig.json
Owners: @fiftyfifty-team/frontend, @fiftyfifty-team/core-team

fix: Add index signatures to raw types for TypeScript compatibility
  lib/cms-client.ts
Owners: @fiftyfifty-team/backend, @fiftyfifty-team/frontend

chore: Update environment variables for production
  .env.production
  env.example
Owners: @fiftyfifty-team/core-team, @fiftyfifty-team/devops

feat: migrate admin content storage from JSON files to Neon PostgreSQL
  app/api/admin/content/route.ts
  env.example
  lib/db.ts
  package-lock.json
  package.json
  scripts/schema.sql
  scripts/seed-database.ts
  scripts/setup-database.ts
Owners: @fiftyfifty-team/backend, @fiftyfifty-team/devops, @fiftyfifty-team/core-team, @fiftyfifty-team/frontend

feat: add database health check endpoint for debugging
  app/api/admin/health/route.ts
Owners: @fiftyfifty-team/backend
